<main class="menu">

<h2>Menú</h2>

<p *ngIf="menu.length === 0">
Por el momento no hay platillos disponibles.
</p>

<div class="slider">

<div class="card" *ngFor="let platillo of menu">

<header class="card-header">

<h3 class="card-title">
{{ platillo.nombre }}
</h3>

<span class="badge">
Disponible
</span>

</header>


<img [src]="platillo.imagen">


<p class="card-desc">
Delicioso {{platillo.nombre}}
</p>


<footer class="card-footer">

<span class="precio">
$50
</span>

<button (click)="agregar(platillo)">
Agregar
</button>


<a routerLink="/carrito" style="margin-left:8px">
Ver carrito
</a>

</footer>

</div>

</div>

</main>